@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");
@import "tailwindcss";

@theme {
  --color-background: rgba(var(--background));
  --color-border: rgba(var(--border));
  --color-card: rgba(var(--card));
  --color-copy-primary: rgba(var(--copy-primary));
  --color-copy-secondary: rgba(var(--copy-secondary));
  --color-cta: rgba(var(--cta));
  --color-cta-active: rgba(var(--cta-active));
  --color-cta-text: rgba(var(--cta-text));
  --color-primary: #9baa8a;
  --color-secondary: #161b22;
  --font-family-IBM: "IBM Plex Sans Arabic", sans-serif;
  --animate-ticker: ticker 30s linear infinite;
  @keyframes ticker {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }
}

@layer base {
  html {
    -webkit-text-size-adjust: 100%;
  }
  html,
  body {
    font-family: "Tajawal", sans-serif;
    color: white;
  }
  h3 {
    @apply text-xl font-bold text-white;
  }
  h2 {
    @apply text-xl sm:text-2xl font-medium;
  }
  h1 {
    @apply text-2xl sm:text-4xl  font-bold text-white;
  }
  p {
    @apply text-sm text-white;
  }

  .glass {
    @apply backdrop-blur-md  shadow-sm;
    background: rgba(var(--card), 0.6);
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
  .background-primary {
    @apply bg-[#0e131a];
  }
  .background-secondary {
    @apply bg-[#161B22];
  }
  .text-primary {
    @apply text-white;
  }
  .cta {
    @apply text-[#00F5D4];
  }
}
